.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #488bd2;
}

.toggle-checkbox:checked+.toggle-label {
    @apply: bg-green-400;
    background-color: #488bd2;
}

.button-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}